# Save Stock Data to csv file

## Update: 26/04/2020

## Simple save one ticker to csv

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# fix_yahoo_finance is used to fetch data 
import yfinance as yf
yf.pdr_override()

In [2]:
# input
symbol = 'AMD'
start = '2014-01-01'
end = '2019-01-01'

# Read data 
dataset = yf.download(symbol,start,end)

# View Columns
dataset.head()

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close    Volume
Date
2013-12-31  3.87  3.88  3.83   3.87       3.87  12347800
2014-01-02  3.85  3.98  3.84   3.95       3.95  20548400
2014-01-03  3.98  4.00  3.88   4.00       4.00  22887200
2014-01-06  4.01  4.18  3.99   4.13       4.13  42398300
2014-01-07  4.19  4.25  4.11   4.18       4.18  42932100

In [3]:
# Output data into CSV
# To save in your certain folder, change the Users name
dataset.to_csv("C:/Users/Finance/Desktop/AMD.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/Finance/Desktop/AMD.csv'

## Save Multi Stocks of "Adj Close" to csv

In [4]:
symbols = ['MMM','AXP','AAPL','BA','CAT','CVX','CSCO','KO','DIS','XOM','GE','GS','HD','IBM','INTC','JNJ','MCD','MRK','NKE','PFE','PG','UTX','UNH','VZ','V','WMT']
start = '2001-01-11' 
end = '2018-09-17'
stocks_info = yf.download(symbols, start, end)['Adj Close']
stocks_data = stocks_info.iloc[::]

[*********************100%***********************]  26 of 26 downloaded

In [5]:
stocks_data.head()

,AAPL,AXP,BA,CAT,CSCO,CVX,DIS,GE,GS,HD,...,MRK,NKE,PFE,PG,UNH,UTX,V,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2001-01-11,0.860995,32.362038,39.449837,12.335097,31.130840,19.006382,23.236092,25.899675,90.825935,34.010456,...,40.302208,2.427128,21.983341,20.644518,11.937548,23.863380,NaN,20.906065,36.973961,24.954866
2001-01-12,0.822131,32.404297,40.450684,11.860015,30.285425,18.889679,24.860649,25.412958,89.387543,34.053780,...,40.209618,2.371967,22.217928,19.952829,11.681551,22.833738,NaN,20.812313,37.685860,25.279213
2001-01-16,0.819141,32.657772,40.700882,12.131493,30.633539,18.904276,26.042143,26.351603,90.415009,33.880470,...,41.135406,2.340446,22.351967,20.413963,11.573761,22.914494,NaN,20.390440,38.931671,24.973944
2001-01-17,0.804193,33.418255,39.199627,12.216325,31.031374,18.729233,26.288290,25.969193,90.415009,32.147453,...,40.117039,2.345699,21.849302,20.113068,11.358186,23.298088,NaN,20.226379,38.397762,24.496984
2001-01-18,0.893880,33.544987,38.282196,11.507934,33.318939,18.539610,26.091373,26.490675,88.456596,30.674391,...,40.919392,2.356206,22.050377,20.292179,11.263871,23.600931,NaN,20.906065,37.774853,24.153563

In [6]:
# Output data into CSV
stocks_data.to_csv("C:/Users/Finance/Desktop/stocks_data.csv")

## To find the path or current diectory

In [7]:
import os
cwd = os.getcwd()

In [8]:
cwd

'C:\\WINDOWS'

In [9]:
from pathlib import Path

print(Path.cwd())

C:\WINDOWS